<script src="/main.js"></script>


<div id='map'></div>

<div id='searchbox'>

	<div class="searchfield">
		<label class="searchlabel">Neighborhood:</label>
			<input type="text" name="firstname"><br>
		</label>
	</div>
	<div class="searchfield">
		<label class="searchlabel"># Bedrooms:</label>
			<input type="text" name="numbed"><br>
		</label>
	</div>
	<div class="searchfield">
		<label class="searchlabel"># Bathrooms:</label>
			<input type="text" name="numbath"><br>
		</label>
	</div>

		<!-- Price range slider -->
	<div class="searchfield">
		<div class="nstSlider" data-range_min="0" data-range_max="10000" data-cur_min="1200" data-cur_max="5000">
			<div class="bar"></div>
			<div class="leftGrip"></div>
			<div class="rightGrip"></div>
		</div>
		<div class="pricelabel leftLabel"></div>
		<div class="pricelabel rightLabel"></div>
	</div>


</div>

